APP_PORT=3000
NODE_ENV=development
APP_URL=http://localhost:3000

DATABASE_URL=postgresql://moazez:moazez@localhost:5433/moazez_dev
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

STORAGE_PROVIDER=minio
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_BUCKET=moazez-dev
STORAGE_PUBLIC_BUCKET=moazez-dev-public

SEED_DEMO_DATA=true
LOG_LEVEL=debug
